body{
	background-color: #A2D9CE;
	color: #0277BD;
	
}

ul{
	list-style-type: none;
	margin:0;
	padding: 14px 16px;
    background-color: #333;

}

li {
	display: inline;
	width:100px;
	float: left;
}

li a{
	display: block;
    color: #808B96;
    text-align: center;
    padding: 12px 16=4px;
    text-decoration: none;
}

li a:hover, {
    background-color: #111;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    width:100px;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 14px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#welcome_text{
	text-align: right;
	margin-top: -200px;
	padding-right: 90px;
}
